@using Entities.Models
@using Microsoft.EntityFrameworkCore.Diagnostics

@model IEnumerable<Flight>

@{
    ViewData["Title"] = "Flight registry";
}

<div class="d-flex justify-content-between align-items-center mb-3">
    <h2>@ViewData["Title"]</h2>
    <a asp-action="Add" class="btn btn-primary">Добавить рейс</a>
</div>

<div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Айди рейса</th>
            <th>Тип самолёта</th>
            <th>Время прибытия</th>
            <th>Пассажиры</th>
            <th>Сбор на пассажира</th>
            <th>Экипаж</th>
            <th>Сбор на экипаж</th>
            <th>% обслуживания</th>
            <th>Общая стоимость</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        @{
            foreach (var flight in Model)
            {
                <tr>
                    <td>@flight.Id</td>
                    <td>@flight.AirplaneType</td>
                    <td>@flight.ArrivalTime.ToShortDateString()</td>
                    <td>@flight.NumberOfPassengers</td>
                    <td>@flight.PassengerTax.ToString("N2")</td>
                    <td>@flight.NumberOfCrew</td>
                    <td>@flight.CrewTax.ToString("N2")</td>
                    <td>@flight.ServicePercentage</td>
                    <td>
                        @{
                            var baseCost =
                                flight.NumberOfPassengers * flight.PassengerTax +
                                flight.NumberOfPassengers * flight.CrewTax;

                            var totalCost =
                                baseCost + baseCost * flight.ServicePercentage / 100;
                        }
                        @totalCost.ToString("N2")
                    </td>
                    <td class="text-center">
                        <a asp-action="Edit"
                           asp-route-id="@flight.Id"
                           class="btn btn-sm btn-secondary mb-1"
                           style="min-width: 80px;">
                            Изменить
                        </a>

                        <a asp-action="Remove"
                           asp-route-id="@flight.Id"
                           class="btn btn-sm btn-danger"
                           style="min-width: 80px;">
                            Удалить
                        </a>
                    </td>
                </tr>
            }
        }
        </tbody>
    </table>
</div>